/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}
img {
  width: 100%;
  height: auto;
}
:root {
  --primary-color: #534c64;
  --text-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --pink-gradient: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --bg-color: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  --bk-color: #0b0223;
  --wh-color: #fff;
  --fw-xl: 700;
  --fw-mdm: 600;
  --fw-sm:400;
  --fs-xl: 48px;
  --fs-mdm: 20px;
  --fs-sm: 18px;
}

/* Common styles starts here*/
.title-bk-text {
  color: var(--bk-color);
  font-size: var(--fs-xl);
  font-weight: var(--fw-xl);
}
.title-gradient-text{
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: var(--fw-xl);
}
.description-text{
  color: var(--primary-color);
  font-size: var(--fs-sm);
  font-weight: var(--fw-sm);
  margin-bottom: 20px;
}
.btn-primary{
  background-image: var(--pink-gradient);
  font-size: var(--fs-mdm);
  color: var(--wh-color);
  font-weight: var(--fw-mdm);
  padding: 20px 40px;
  border-radius: 45px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
}


/* Common styles ends here*/

/* header area style starts */

/* nav area style */
.nav-logo-area {
  background-color: var(--wh-color);
}
.nav-logo-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}
.logo-container {
  display: flex;
  width: 50%;
  align-items: center;
}
.logo-image {
  padding-right: 20px;
  width: 80px;
}
.logo-container h3 {
  font-size: 42px;
  color: var(--bk-color);
}
.logo-container .logo-g {
  background-image: var(--pink-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
.nav-container {
  display: flex;
  gap: 30px;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.nav-container a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: var(--fs-sm);
}
.nav-container .nav-social-container {
  color: #3c354f;
  font-size: var(--fs-sm);
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 20px;
}

.nav-social-container .fa-brands {
  font-size: 25px;
}
.nav-social-container .fa-youtube {
  color: #f61c0d;
}

/* banner area styles */
.banner-area {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  /* background-size: cover; */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.banner-area-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner-text-container {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: left;
}
.banner-heading {
  background-image: var(--text-gradient);
  font-size: 95px;
  font-weight: 800;
  -webkit-background-clip: text;
  color: transparent;
}
.banner-text-unit p{
  color: var(--primary-color);
  font-size: var(--fs-mdm);
  margin-bottom: 10px;
  /* margin-left: 20px; */
  
}
.banner-text-unit .fa-solid {
  margin-right: 10px;
}
.banner-text-unit .fa-play {
  background-image: var(--pink-gradient);
  -webkit-background-clip: text;
  color: transparent;
  border: 2px solid var(--bk-color);
  padding: 3px 4px 3px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.banner-text-unit .fa-download {
  background-image: var(--pink-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--fs-mdm);
}
.banner-text-unit .btn-blue{
  background-color: #4EC5F7;
  font-size: var(--fs-mdm);
  color: var(--wh-color);
  font-weight: var(--fw-mdm);
  padding: 20px 40px;
  border-radius: 45px;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  text-transform: uppercase;
}                           
.banner-image-container {
  width: 50%;
}
.banner-image-container img {
  display: block;
}

/* header area style ends */


/* Online games area style */
.online-games-area{
  max-width: 1200px;
  margin: 50px auto 0;
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card-container .card{
 width: 25%;
 text-align: left;
}
.card-container .card p{
 color: var(--primary-color);
 font-size: var(--fs-mdm);
 margin-top: 10px;
}


/* play instantly area style */
.play-instantly-container{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  margin: 50px auto 0;
  
}
.instantly-text-container{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.play-instantly-text{
  max-width: 400px;
  text-align: right;
}
.play-instantly-image{
  width: 50%;
  position: relative;
  padding-bottom: 100px;
}
.child-image{
  position: absolute;
  width: 45%;
  bottom: 30px;
  left: -100px;
}


/* type button area style */
.game-type-area{
  background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  padding: 50px;
}
.game-type-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  /* gap: 10px; */
  justify-content: space-between;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, ifs);
}
.one{
  grid-column: 1/4;
  grid-row: 1/2;
}
.two{
  grid-column: 5/8;
  grid-row: 1/2;
}
.three{
  grid-column: 9/12;
  grid-row: 1/2;
}
.four{
  grid-column: 13/16;
  grid-row: 1/2;
}
.five{
  grid-column: 17/20;
  grid-row: 1/2;
}
.six{
  grid-column: 2/6;
  grid-row: 2/3
} 
.seven{
  grid-column: 7/10;
  grid-row: 2/3
}
.eight{
  grid-column: 11/14;
  grid-row: 2/3
}
.nine{
  grid-column: 15/18;
  grid-row: 2/3
}
.type-button-container{
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: center;
  padding: 10px;
  border-radius: 80px;
  border: 2px solid transparent;
}
.type-button-container:hover{
  border: 2px solid #ff42a5;
}
.type-button-container:hover .button-title{
  color: #ff42a5;
}
.type-button-container .button-image{
  width: 40px;
}
.type-button-container .button-title{
  font-size: 14px;
  color: var(--bk-color);
  font-weight: var(--fw-mdm);
}
