/* for mobile */

@media screen and (max-width: 426px) {
  /* common responsive */
  .title-bk-text {
    font-size: 30px;
  }
  .description-text{
    font-size: 12px;
  } 
  .nav-logo-container,
  .nav-container,
  .banner-area-container,
  .card-container,
  .play-instantly-container  {
    flex-direction: column;
    gap: 40px;
  }
  .nav-container,
  .nav-,
  .banner-text-container,
  .card-container .card,
  .instantly-text-container,
  .play-instantly-text{
    width: 90%;
    margin: auto;
    text-align: center;
  }
.btn-primary,
.banner-text-unit .btn-blue
 {
  font-size: 16px;
  padding: 10px;
}

  /* banner area responsive */
  .banner-area {
    background-image: none;
  }
  .banner-text-container {
    order: 2;
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .banner-text-unit {
    width: 70%;
    margin: 20px auto 0;
    text-align: center;
    padding: 50px 0;
  }
  .banner-heading {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .banner-p-text{
    margin-left: 50px;
    text-align: left;
  }
  .banner-text-unit p {
    font-size: 14px;
  }
  .banner-image-container {
    order: 1;
    width: 90%;
    margin: auto;
  }


  /* online game responsive */
  
  .play-instantly-image{
    width: 70%;
    margin: auto;
  }
  .child-image {
  
  bottom: 40px;
  left: -50px;
}

}
