/* for mobile */

@media screen and (max-width: 576px) {
  /* common responsive */
  .title-bk-text {
    font-size: 30px;
  }
  .description-text{
    font-size: 12px;
  } 
  .nav-logo-container,
  .nav-container,
  .banner-area-container,
  .card-container,
  .play-instantly-container  {
    flex-direction: column;
    gap: 40px;
  }
  .nav-container,
  .banner-text-container,
  .card-container .card,
  .instantly-text-container,
  .play-instantly-text,
  .footer-area-container{
    width: 90%;
    margin: auto;
    text-align: center;
  }
.btn-primary,
.banner-text-unit .btn-blue
 {
  font-size: 16px;
  padding: 10px;
}

  /* banner area responsive */
  .banner-area {
    background-image: none;
  }
  .banner-text-container {
    order: 2;
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .banner-text-unit {
    width: 70%;
    margin: 20px auto 0;
    text-align: center;
    padding: 50px 0;
  }
  .banner-heading {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .banner-p-text{
    margin-left: 50px;
    text-align: left;
  }
  .banner-text-unit p {
    font-size: 14px;
  }
  .banner-image-container {
    order: 1;
    width: 90%;
    margin: auto;
  }


  
  
  .play-instantly-image{
    width: 70%;
    margin: auto;
  }
  .child-image {
  
  bottom: 40px;
  left: -50px;
}
.game-type-container{
  display: flex;
  flex-wrap: wrap;
}
.game-type-container{
  width: 100%;
}
.type-button-container {
  gap: 5px;
  padding: 2px;
}

.type-button-container .button-title{
  font-size: 10px;
}
.type-button-container .button-image{
  width: 10px;
}
.link-container, .footer-social-container, .policy-container{
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  width: 80%;
  margin: 0 auto 50px;
}
.footer-area-container .footer-logo{
  max-width: 100%;
  text-align: center;
}
.link-container a {
  font-size: 14px;
}

}



/* tablet device responsive */


@media screen and (min-width: 576px) and (max-width: 768px) {

  .nav-logo-container,
  .banner-area-container,
  .play-instantly-container{
    flex-direction: column;
    gap: 30px;
  }

  .nav-container,
  .logo-container,
  .banner-text-container,
  .banner-image-container,
  .instantly-text-container
  {
    width: 100%;
    justify-content: center;
  }
  .card-container
  {
    gap: 5px;
    width: 95%;
    margin: auto;
  }
  .play-instantly-text{
    text-align: center;
  }
  .play-instantly-image{
    width: 70%;
    margin: auto;
  }
  .game-type-container,
  .link-container,
  .footer-social-container,.policy-container{
    justify-content: center;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  


  
}
